*{
  box-sizing: border-box;
}

.navbar{
  margin: 0;
}
.navbar-toggle{
  float: left;
}
.flex-align-items-center{
  display: flex;
  align-items: center;
}
.logo{
  max-width: 13rem;
}
@media (min-width: 769px){
  .margin-14 {
      margin-top: 14px;
  }
  .navbar-nav{
    float: right;
  }

  .navbar-nav>li{
    margin: 0 1.5rem;
  }
}
