*{
  box-sizing: border-box;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
}
/*font-family: 'Open Sans', sans-serif;*/
h1{
  font-weight: bold;
}

img{
  height: auto;
  width: 100%;
}
section{
  position: relative;
  height: 99vh;
  width: 100%;
}
/*Estilos del menu de navegacion*/
.navbar{
  margin: 0;
}

.navbar-toggle{
  float: left;
}

.flex-align-items-center{
  align-items: center;
  display: flex;
}

.logo{
  max-width: 13rem;
}

@media (min-width: 768px){
  /*estilos nav*/
  .margin-14 {
    margin-top: 14px;
  }
  .navbar-nav{
    float: right;
  }
  .navbar-nav>li{
    margin: 0 1.5rem;
  }

  /*estilos hero*/
  #hero{
    /*background-position-y: -128rem;*/
  }

}

/*Estilos para la seccion de hero*/
#hero{
background-image: url(../image/taxi.jpg);
background-size: cover;
background-repeat: no-repeat;
background-color: #f7b617;
overflow: hidden;
padding: 17rem 0;
}

.hero-cont{
  background-color: #f7b617;
  padding: 3rem;
}
